/**/*/__pycache__/*

/snvenv
/account/migrations/*
!/account/migrations/__init__.py

/blog/migrations/*
!/blog/migrations/__init__.py

/main/migrations/*
!/main/migrations/__init__.py

/media
/media_cdn/
/static_cdn/
db.sqlite3
/.idea