<div class="row m-2 postAccountPublished justify-content-between align-items-center text-white" id="post-{{post.id}}">
    <div class="col-12 col-lg-6 col-xl-6 p-3">
        <a href="{% url 'blog:detail' post.slug %}">
            <img src="{{ post.image.url }}" id="postImageAccount" class="img-fluid" alt="">
        </a>
        <div class="col-12 mt-3 text-center">
            <div class="row">
                {% if request.user == currUser or request.user.is_superuser %}
                <div class="col-8 text-center">
                    <a href="{% url 'blog:edit' post.slug %}" class="btn btn-outline-warning btn-sm">
                        <i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;Edit
                    </a>
                    <button class="btn btn-outline-danger btn-sm" type="submit" id="delPost-{{ post.id }}">
                        <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;Delete
                    </button>
                </div>
                {% if request.user.is_superuser %}
                <div class="col-4 text-center">
                    <button class="btn btn-outline-success btn-sm" type="submit" id="pubUnpubPost-{{ post.id }}">
                        <i class="fa-regular fa-lemon"></i>&nbsp;&nbsp;<span id="pubUnpubPostSpan-{{ post.id }}">Publish</span>
                    </button>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 p-2">
        <div class="row">
            <div class="col-md-12 my-2 text-center">
                <a href="{% url 'blog:detail' post.slug %}" class="h3 accountPostTitle">
                    {{ post.title|truncatechars:18 }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ps-md-0 ps-3">
                <h4 class="text-md-start text-center">Description</h4>
            </div>
            <div class="col-6 text-md-end px-md-3 mt-1">
                {{ post.likes }}&nbsp;<span style="color: red;"><i class="fa-solid fa-heart"></i></span>
                <span class="text-white">
                    {% if request.user.is_superuser %} {{ post.count_all_comments }} {% else %} {{ post.count_approved }} {% endif %}
                </span>
                <span style="color: blue"><i class="fa-solid fa-comments"></i></span>
            </div>
            <div class="col-md-12">
                <p class="text-justify p-2 me-3" id="accountDesc">{{ post.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-md-start text-center pt-3">
                <p>
                    Posted on: <span class="text-muted">{{ post.pub_date }}</span><br>
                    Updated on: <span class="text-muted">{{ post.upd_date }}</span><br>
                </p>
            </div>
        </div>
    </div>
    <script>
        posts["{{ post.slug }}"] = $("#post-{{ post.id }}");

        getState = "{{ post.published }}";
        getState == "True" ? pubState = true : pubState = false;
        postStates["{{ post.slug }}"] = pubState;
        $("#pubUnpubPostSpan-{{ post.id }}").html(postStates["{{ post.slug }}"] == true ? "Unpublish" : "Publish");

        if (postStates["{{ post.slug }}"] == true) {
            posts["{{ post.slug }}"].addClass("postAccountPublished").removeClass("postAccountUnpublished");
            $("#pubUnpubPost-{{ post.id }}").addClass("btn-outline-danger").removeClass("btn-outline-success");
        }
        else {
            posts["{{ post.slug }}"].addClass("postAccountUnpublished").removeClass("postAccountPublished");
            $("#pubUnpubPost-{{ post.id }}").addClass("btn-outline-success").removeClass("btn-outline-danger");
        }

        $("#pubUnpubPost-{{ post.id }}").click(function (e) {
            $.ajax({
                url: "{% url 'blog:publish' post.slug %}",
                type: "GET",
                data: {},
                cache: false,
                dataType: "json",
                success: function () {
                    postStates["{{ post.slug }}"] = !postStates["{{ post.slug }}"];
                    $("#pubUnpubPostSpan-{{ post.id }}").html(postStates["{{ post.slug }}"] == true ? "Unpublish" : "Publish");
                    if (postStates["{{ post.slug }}"] == true) {
                        posts["{{ post.slug }}"].addClass("postAccountPublished").removeClass("postAccountUnpublished");
                        $("#pubUnpubPost-{{ post.id }}").addClass("btn-outline-danger").removeClass("btn-outline-success");
                    }
                    else {
                        posts["{{ post.slug }}"].addClass("postAccountUnpublished").removeClass("postAccountPublished");
                        $("#pubUnpubPost-{{ post.id }}").addClass("btn-outline-success").removeClass("btn-outline-danger");
                    }
                },
                fail: function () { }
            });
        });

        $("#delPost-{{ post.id }}").click(function (e) {
            $.ajax({
                url: "{% url 'blog:delete' post.slug %}",
                type: "GET",
                data: {},
                cache: false,
                dataType: "json",
                success: function (data) {
                    $("#post-{{post.id}}").remove();
                    if ($("#singlePost").children().length == 0) {
                        if (data['user'] == data['author']) {
                            $("#posts").html(
                                "<h3 class=\"text-center\">" + data['user'] + ", " +
                                "you have no posts.</h3>" +
                                "<a class=\"btn btn-outline-light btn-sm mt-3 mb-1\" href=\"/blog/create\">" +
                                "<i class=\"fa-solid fa-mug-hot\"></i>&nbsp;&nbsp;Make New Post" +
                                "</a>"
                            );
                        } else {
                            $("#posts").html(
                                "<h3 class=\"text-center\">" + data['user'] + "," +
                                "has no posts yet.</h3>" +
                                "<a class=\"btn btn-outline-light btn-sm mt-3 mb-1\" href=\"{% url 'blog:create' %}\">" +
                                "<i class=\"fa-solid fa-mug-hot\"></i>&nbsp;&nbsp;Make New Post" +
                                "</a>"
                            )
                        }
                    }
                }
            });
        });
    </script>
</div>