{% load static %}
<div class="container py-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10">
            <ul class="nav nav-tabs unselectable" id="profileTab" role="tablist">
                <li class="nav-item ml-3 pr-1" role="presentation">
                    <button class="nav-link active" disabeled unselectable>{{ currUser.username }}'s profile</button>
                </li>
            </ul>
            <div class="tab-content unselectable">
                <div class="tab-pane py-3 active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="row text-center text-md-end px-3">
                        <div class="col-6 p-2 d-md-none text-center">
                            <button class="btn btn-outline-success btn-sm w-100" id="togglePosts">Posts</button>
                        </div>
                        <div class="col-6 p-2 d-md-none text-center">
                            <button class="btn btn-outline-danger btn-sm w-100" id="toggleComments">Comments</button>
                        </div>
                    </div>
                    <div class="row py-2 mx-3">
                        <div class="col-12 col-md-8 mt-3 mt-md-0 d-md-block d-none" id="accPostsDiv">
                            <h3 class="d-none d-md-block text-center">Posts</h3>
                            {% if posts %}
                            {% for post in posts %}
                            {% include './account_post.html' %}
                            {% endfor %}
                            {% else %}
                            <h3 class="text-center">{{ currUser }}, has no posts yet.</h3>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-4 mt-3 mt-md-0 d-md-block d-none" id="accCommsDiv">
                            <h3 class="d-none d-md-block text-center">Comments</h3>
                            {% include './unauth_comments.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>