<div class="row m-1 p-3 unselectable justify-content-between align-items-center commsApproved">
    <div class="col-md-12">
        <p>{{ comment.author }} commented on <a id="pubAuthorA" href="{% url 'blog:detail' comment.post.slug %}">{{ comment.post.title|truncatechars:12 }}</a>:</p>
    </div>
    <div class="col-md-12 me-3 my-2 p-3" style="border: 1px solid darkgreen; border-radius: 10px;">
        <figure>
            <blockquote class="blockquote">
                <p>{{ comment }}</p>
            </blockquote>
            <figcaption class="blockquote-footer row mt-2">
                <cite class="col-md-9">
                    {{ comment.created_at }}                    
                </cite>
                <cite class="col-md-2">
                    <span class="text-danger text-right"><i class="fa-solid fa-heart"></i>&nbsp;&nbsp;{{ comment.likes }}</span>
                </cite>
            </figcaption>
        </figure>
    </div>
</div>