<div class="col-12 col-md-4 my-3">
    <div class="form-outline text-start row justify-content-between align-items-center">
        <div class="col-10">
            <label for="isAdmin" class="text-muted px-1">{{ currUser }} is admin</label>
        </div>
        <div class="col-2">
            <i class="fa-solid fa-circle-{% if currUser.is_admin %}check text-success{% else %}xmark text-danger{% endif %}"></i>
        </div>
        <div class="col-10">
            <label for="isStaff" class="text-muted px-1">{{ currUser }} is staff</label>
        </div>
        <div class="col-2">
            <i class="fa-solid fa-circle-{% if currUser.is_admin %}check text-success{% else %}xmark text-danger{% endif %}"></i>
        </div>
        <div class="col-10">
            <label for="isSuperuser" class="text-muted px-1">{{ currUser }} is superuser</label>
        </div>
        <div class="col-2">
            <i class="fa-solid fa-circle-{% if currUser.is_admin %}check text-success{% else %}xmark text-danger{% endif %}"></i>
        </div>
    </div>
</div>