<script>
    $("#btnCommentDelete-{{ comment.id }}").click(function(e) {        
        $.ajax({
            url: "{% url 'blog:deletecomment' %}",
            type: "GET",
            data: {
                'id': "{{ comment.id }}",
            },
            cache: false,
            dataType: "json",
            success: function() {
                $("#detailBlogComment-{{ comment.id }}").remove();
                $("#commentCount").html($(".commsNotApproved").length > 0 ? $(".comment").length + "*" : $(".comment").length);
            },
            fail: function() {}
        });
    });
</script>