<button class="btn btn-outline-danger btn-sm {% if request.user == comment.author %}disabled{% endif %}" type="submit" id="btnCommentLikes-{{ comment.id }}">
    <i class="fa-solid fa-heart" id="heartCommentDetail-{{ comment.id }}"></i>&nbsp;&nbsp;<span id="commNumLikes-{{ comment.id }}"></span>
</button>
<script>
    likeComment();
    function likeComment() {
        let isInUsers, numOfLikes = "{{ comment.likes }}";
        "{% for user in comment.userlikes.all %}"
        "{{ request.user }}" == "{{ user }}" ? isInUsers = true : false;
        "{% endfor %}"

        $("#commNumLikes-{{ comment.id }}").html(numOfLikes);
        if (isInUsers) {
            $("#heartCommentDetail-{{ comment.id }}").addClass("fa-solid").removeClass("fa-regular");
            $("#commNumLikes-{{ comment.id }}").html(numOfLikes--);
        }
        else {
            $("#heartCommentDetail-{{ comment.id }}").addClass("fa-regular").removeClass("fa-solid");
            $("#commNumLikes-{{ comment.id }}").html(numOfLikes++);
        }

        $("#btnCommentLikes-{{ comment.id }}").click(function (e) {
            $.ajax({
                url: "{% url 'blog:commentlike' %}",
                type: "POST",
                data: {
                    'id': "{{ comment.id }}",
                    'post_slug': "{{ comment.post.slug }}",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                cache: false,
                dataType: "json",
                success: function () {
                    isInUsers = !isInUsers;
                    if (isInUsers) {
                        $("#heartCommentDetail-{{ comment.id }}").addClass("fa-solid").removeClass("fa-regular");
                        $("#commNumLikes-{{ comment.id }}").html(numOfLikes--);
                    }
                    else {
                        $("#heartCommentDetail-{{ comment.id }}").addClass("fa-regular").removeClass("fa-solid");
                        $("#commNumLikes-{{ comment.id }}").html(numOfLikes++);
                    }
                },
                fail: function () {
                    console.log("???");
                },
                error: function () {
                    console.log("ERROR");
                }
            });
        });
    }
</script>