{% if post.author == request.user or request.user.is_superuser %}
<div class="col-12 col-md-4 text-center p-2">
    <a href="{% url 'blog:edit' post.slug %}" class="btn btn-outline-warning">
        <i class="fa-regular fa-pen-to-square"></i>
    </a>
    <form action="" method="post" id="deleteForm" style="display: inline;">
        {% csrf_token %}
        <button class="btn btn-outline-danger" onclick="yesNoDelete()">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </form>
    {% if request.user.is_superuser %}
    <button type="submit" class="btn btn-outline-success btn-sm my-md-2 my-xl-0" id="pubUnpubPost">
        <i class="fa-regular fa-lemon" id="lemonDetailBlog"></i>&nbsp;&nbsp;<span id="pubUnpubPostSpan">Publish</span>
    </button>
    {% endif %}
</div>
{% endif %}
<script>

    function yesNoDelete() {
        var title = "{{ post.title }}"
        confirm("You are about to delete post [" + title + "].") ? $('#deleteForm').attr("action", "{% url 'blog:delete' post.slug %}").submit() : $('#deleteForm').attr('action', '');
    }

    let getState = "{{ post.published }}",
        pubState;
    getState == "True" ? (pubState = true) : (pubState = false);

    pubState ? $("#postOverview").addClass("postOverviewPub").removeClass("postOverviewUnpub") : $("#postOverview").addClass("postOverviewUnpub").removeClass("postOverviewPub");

    function handlePublishDecoration() {
        $("#pubUnpubPostSpan").html(pubState == true ? "Unpublish" : "Publish");
        if (pubState == true) {
            $("#pubUnpubPost").addClass("btn-outline-danger").removeClass("btn-outline-success");
            $("#lemonDetailBlog").addClass("fa-solid").removeClass("fa-regular");
            $("#btnPostLikes-{{ post.id }}").removeClass("d-none");
            $("#postOverview").addClass("postOverviewPub").removeClass("postOverviewUnpub");
            $("#postComments").removeClass("d-md-none");
        } else {
            $("#pubUnpubPost").addClass("btn-outline-success").removeClass("btn-outline-danger");
            $("#lemonDetailBlog").addClass("fa-regular").removeClass("fa-solid");
            $("#btnPostLikes-{{ post.id }}").addClass("d-none");
            $("#postOverview").addClass("postOverviewUnpub").removeClass("postOverviewPub");
            $("#postComments").addClass("d-md-none");
        }
    }

    handlePublishDecoration();

    $("#pubUnpubPost").click(function (e) {
        $.ajax({
            url: "{% url 'blog:publish' post.slug %}",
            type: "GET",
            data: {},
            cache: false,
            dataType: "json",
            success: function () {
                pubState = !pubState;
                handlePublishDecoration();
            },
            fail: function () { },
        });
    });
</script>