"<div class=\"row comment\" id=\"detailBlogComment-{{ comment.id }}\">" + 
    "<div class=\"col-md-8 text-start py-2 px-4\">" + 
        "<a href=\"{% url 'account:profile' comment.author.id %}\">{{ comment.author }}</a> says:" + 
    "</div>" + 
    "<div class=\"col-md-4 text-end py-2 px-4\" id=\"commentBlog-{{ comment.id }}\">" + 
        "{% if request.user.is_authenticated %}" + 
        "{% include './commentLikes.html' %}" + 
        "{% else %}" +
            "<p class=\"pr-3 pt-2\" style=\"color: red;\"><i class=\"fa-solid fa-heart\"> {{ comment.likes }}</i></p>" + 
        "{% endif %}" + 
    "</div>" +
    "<div class=\"col-md-12\">" + 
        "<p class=\"text-white text-start p-2\" id=\"appCommBody\">data['comm_text']</p>" + 
    "</div>" + 
"</div>"