<div class="row" id="detailStuff-{{ stuff.id }}">
    <div class="col-md-8 text-start py-2 px-4">
        <a href="{% url 'app:test' stuff.id %}">{{ stuff.author }}</a> says:
    </div>
    <div class="col-md-4 text-end py-2 px-4" id="stuffPost-{{ stuff.id }}">
        {% if request.user.is_authenticated %}
            {% include './stuffToInclude.html' %}
        {% else %}
            <p class="pr-3 pt-2" style="color: red;"><i class="fa-solid fa-heart"> {{ stuff.likes }}</i></p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <p class="text-white text-start p-2" id="stuffBody">{{ stuff.text }}</p>
    </div>
</div>