{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>{% block title %}Reset password{% endblock %}</title>
</head>
<div class="container-fluid loginregister-dark my-3 unselectable">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <img src="{% static '/assets/resetPwdBelphegor.gif' %}" class="img-fluid rounded mb-3" alt="Gif" id="gif">
                    <h3 class="my-3">Reset password</h3>
                    <ul class="text-muted text-start my-4" id="pwdList">
                        <li>
                            Your password can not be too similar to your other personal information.
                        </li>
                        <li>
                            Your password must contain at least 8 characters.
                        </li>
                        <li>
                            Your password can not be a commonly used password.
                        </li>
                        <li>
                            Your password can not be entirely numeric.
                        </li>
                    </ul>
                    {% if validlink %}
                    <input name="new_password1" class="form-control" placeholder="New password" type="password" required="true" autofocus>
                    <input name="new_password2" class="form-control" placeholder="New password confirmation" type="password" required="true">
                    {% else %}
                    <p id="resetDoneP">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    <div class="form-group bttns">
                        <a class="btn btn-primary w-100 btn-block" href="{% url 'index' %}">Return to home page</a>
                    </div>
                    {% endif %}
                </div>
                {% if validlink %}
                <div class="form-group bttns mt-2">
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                </div>
                <div class="col-md-12 mb-4 text-center py-2 errors">
                    {% for field in login_form %}
                    {% for error in field.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% if login_form.non_field_errors %}
                    <p>{{ login_form.non_field_errors }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}