body {
    background: url("../assets/bgImage.jpg") no-repeat center center fixed;
    background-size: cover;
    /* ! text-align: center;*/
    height: 100vh;
    font-family: cursive;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.glow {
    font-size: 6vw;
    color: #0047ab;
    text-align: center;
}

.col-1:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073,
            0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073,
            0 0 35px #e60073;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6,
            0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6,
            0 0 35 px #ff4da6;
    }
    /* 0% { transform: skewX(-15deg); }
    5% { transform: skewX(30deg); }
    10% { transform: skewX(-30deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } */
}

.unauthorized-box {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 25px;
    color: white;
}

.unauthorized-box a {
    text-decoration: none;
    color: darkblue;
}

.unauthorized-box a:hover {
    text-decoration: none;
    color: blue;
}

.profileCard {
    border-radius: 25px;
    background-color: #1e2833;
    color: white;
    box-shadow: 3px 3px 4px black;
    text-align: left;
    opacity: 75%;
}

.profileCard form .form-control,
#accountEditProfile form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.profileCard:hover {
    opacity: 95%;
}

/* ? ACCOUNT */
.blogAccount {
    border: 3px solid yellow;
}

.postAccountUnpublished {
    border-radius: 25px;
    background-color: rgba(139, 0, 0, 0.3);
    color: white;
    box-shadow: 3px 3px 4px black;
}

.postAccountPublished {
    border-radius: 25px;
    background-color: rgba(0, 100, 0, 0.3);
    color: white;
    box-shadow: 3px 3px 4px black;
}

.postAccount a {
    text-decoration: none;
    color: darkgrey;
}

.postAccount a:hover {
    color: grey;
}

.accountPostTitle {
    text-decoration: none;
    color: darkblue;
    text-shadow: 1px 1px 5px black;
}

.accountPostTitle:hover {
    color: blue;
    text-shadow: 3px 3px 5px darkblue;
}

#success_msg { display: none; }

/* ? FOOTER */
footer {
    opacity: 75%;
}

footer:hover {
    opacity: 95%;
}

.project a {
    text-decoration: none;
    color: darkgrey;
}

.project a:hover {
    color: grey;
}

.content p.red {
    color: red;
}

#postImageAccount {
    object-fit: cover;
    object-position: top;
    width: 90%;
    max-height: 250px;
    border: 1px solid darkred;
    transition: transform 0.2s;
}

#postImageAccount:hover {
    border: 1px solid red;
    transform: scale(1.05);
}

#postImage {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid darkblue;
    transition: all 0.5s ease;
    filter: blur(1.5px);
}

#postImage:hover {
    transition: all 0.5s ease;
    filter: blur(0);
}

.tab-pane {
    background-color: rgba(30, 40, 51, 0.9);
    color: #fff;
    border-radius: 0 25px 25px 25px;
    box-shadow: 1px 1px 3px darkblue;
}

#anon-normalUser {
    background-color: rgba(30, 40, 51, 0.9);
    color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 3px darkblue;
}

#profileTab {
    border: none;
}

#profileTab .nav-link {
    background-color: rgba(30, 40, 51, 0.7);
    border: none;
    color: blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#profileTab .nav-link:hover {
    box-shadow: none;
    outline: none;
}

#profileTab .nav-link.active {
    background-color: rgba(30, 40, 51, 0.9);
    text-shadow: 0 0 15px rgb(155, 135, 12, 0.9);
}

.imagesIndex {
    border: 2px solid darkblue;
    border-radius: 25px;
    background-color: rgba(50, 50, 120, 0.7);
}

.comment {
    background-color: rgba(1, 50, 32, 0.7);
    border-radius: 25px;
    box-shadow: 3px 3px 4px black;
}

#accountDesc {
    transition: all 0.5s ease;
}

#accountDesc:hover {
    text-shadow: 10px 10px 5px black;
    transition: all 0.5s ease;
    animation: 0.8s shake infinite alternate;
    animation-delay: 0.5s;
}

@keyframes shake {
    0% {
        transform: skewX(-15deg);
    }
    5% {
        transform: skewX(15deg);
    }
    10% {
        transform: skewX(-15deg);
    }
    15% {
        transform: skewX(15deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

#unappCommBody {
    border: 1px dashed rgba(139, 0, 0, 0.5);
    border-radius: 25px;
}

#appCommBody {
    border: 1px dashed rgba(0, 100, 0, 0.5);
    border-radius: 25px;
}

.postOverviewPub {
    background-color: rgba(20, 20, 30, 0.8);
    border-radius: 25px;
    box-shadow: 3px 3px 4px black;
}

.postOverviewUnpub {
    background-color: rgba(30, 20, 20, 0.8);
    border-radius: 25px;
    box-shadow: 3px 3px 4px black;
}

#unauthenticatedComm {
    border: 1px solid rgb(59, 11, 114);
    border-radius: 25px;
    background-color: rgba(30, 40, 51, 0.8);
    box-shadow: 3px 3px 4px black;
}

#blogPostBody {
    border: 1px solid rgb(59, 11, 114);
    border-radius: 5px;
    background-color: rgba(0, 0, 60, 0.8);
    box-shadow: 1px 1px 3px darkblue;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    max-height: 280px;
    min-height: 130px;
    background-color: rgba(3, 19, 36, 0.8);
    border: 1px dotted rgb(59, 11, 114);
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: white;
}

.mustAuthenticate {
    background-color: rgba(50, 0, 0, 0.8);
    border-radius: 25px;
    box-shadow: 3px 3px 5px black;
}

@media (max-width: 768px) {
    .ma-full-width {
        width: 100%;
        margin: 2% 0;
    }
}

.limitedTweets::placeholder {
    color: red;
}
