{% extends 'main/base.html' %}
{% load static %}

<head>
    <title>{% block title %}Supernatural Blog{% endblock %}</title>
</head>
{% block content %}
<div class="container-fluid unselectable">
    <div class="row text-white m-3 px-3 py-2">
        {% if posts %}
        {% include './snippets/carousel.html' %}
        {% endif %}
        <div class="col-md-12 d-none d-md-block px-3 py-2" id="pCards">
            {% include './snippets/profile_card.html' %}
        </div>
        {% for post in posts %}
        <div class="col-12 px-3 py-2 my-2 postOverview {% if post.published %}postOverviewPub{% else %}postOverviewUnpub{% endif %}" id="{{ post.slug }}">
            <div class="row">
                <div class="col-12 text-center p-2">
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img src="{{ post.image.url }}" alt="" id="postImage" class="mx-auto img-fluid">
                </div>
                <div class="col-12 col-md-6 my-2 my-md-0 text-start">
                    <p class="p-2" id="blogPostBody">{{ post.description|safe }}</p>
                    <p class="text-muted">Posted by <a href="{% url 'account:profile' post.author.id %}">{{ post.author }}</a>.<br>
                        Posted on {{ post.getPubDateFormat }}.
                    </p>
                </div>
                {% include './snippets/buttons_post.html' %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".postOverview").hasClass("d-none") ? $("#togglePosts").html("<i class=\"fa-solid fa-copy\"></i>&nbsp;&nbsp;Show Posts").removeClass("active") : $("#togglePosts").html("<i class=\"fa-solid fa-copy\"></i>&nbsp;&nbsp;Hide Posts").addClass("active");;

        const posts = $(".postOverview");
        var states = new Map();
        posts.each(function (index) {
            let element = posts.get(index);
            let slug = element.id;
            let pubState = element.classList.contains("postOverviewPub");
            states.set(slug, element.classList.contains("postOverviewPub"));
            $("#pubUnpubPost-" + slug).on("click", {
                "slug": slug
            }, sendAjax);
            handlePublishDecoration(slug, pubState);
        })

        function handlePublishDecoration(slug, pubState) {
            $("#pubUnpubPostSpan-" + slug).html(pubState == true ? "Unpublish" : "Publish");
            if (pubState == true) {
                $("#unpubModal-" + slug).addClass("d-none");
                $("#pubUnpubPost-" + slug).addClass("btn-outline-danger").removeClass("btn-outline-success");
                $("#lemonDetailBlog-" + slug).addClass("fa-solid").removeClass("fa-regular");
                $("#btnPostLikes-" + slug).removeClass("d-none");
                $("#readMoreBtn-" + slug).removeClass("d-none");
                $("#" + slug).addClass("postOverviewPub").removeClass("postOverviewUnpub")
            }
            else {
                $("#unpubModal-" + slug).removeClass("d-none");
                $("#pubUnpubPost-" + slug).addClass("btn-outline-success").removeClass("btn-outline-danger");
                $("#lemonDetailBlog-" + slug).addClass("fa-regular").removeClass("fa-solid");
                $("#btnPostLikes-" + slug).addClass("d-none");
                $("#readMoreBtn-" + slug).addClass("d-none");
                $("#" + slug).addClass("postOverviewUnpub").removeClass("postOverviewPub");
            }
        }

        function sendAjax(event) {
            let slug = event.data['slug'];
            $.ajax({
                url: "/blog/" + slug + "/publish",
                type: "GET",
                data: {},
                cache: false,
                dataType: "json",
                success: function (data) {
                    var slug = data['slug'];
                    var postState = states.get(slug);
                    states.set(slug, !postState);
                    handlePublishDecoration(slug, !postState);
                },
                fail: function () { },
            });
        }

        $("#togglePosts").click(function () {
            if ($(".postOverview").hasClass("d-none")) {
                $(".postOverview").removeClass("d-none");
                $("#togglePosts").html("<i class=\"fa-solid fa-copy\"></i>&nbsp;&nbsp;Hide Posts").addClass("active");
            }
            else {
                $(".postOverview").addClass("d-none");
                $("#togglePosts").html("<i class=\"fa-solid fa-copy\"></i>&nbsp;&nbsp;Show Posts").removeClass("active");
            }
        });
    });
</script>
{% endblock content %}