{% extends 'main/base.html' %} {% load static %}

<head>
    <title>{% block title %}{{ post.title }}{% endblock %}</title>
</head>
{% block content %}
<div class="container-fluid unselectable">
    <div class="row text-white m-3 px-3 py-2" id="postOverview">
        <div class="col-12 col-md-7">
            <div class="row align-items-center">
                <div class="{% if post.author == request.user or request.user.is_superuser %}col-8 text-start{% else %}col-12 text-center{% endif %} p-2">
                    <h2>{{ post.title }}</h2>
                </div>
                {% include './snippets/postModeration.html' %}
                <div class="col-12">
                    <a href="{{ post.image.url }}" target="_blank"><img src="{{ post.image.url }}" alt="" id="postImage" class="mx-auto img-fluid" /></a>
                </div>
                <div class="col-7 col-md-6 text-muted text-start mt-2">
                    <p>
                        Posted by <a href="{% url 'account:profile' post.author.id %}">{{ post.author }}</a>.<br>
                        Posted on {{ post.pub_date }}
                    </p>
                </div>
                <div class="col-5 col-md-6 text-end mt-2">{% include './snippets/postLikes.html' %}</div>
                <div class="col-md-12 text-start my-2">
                    <p class="p-2" id="blogPostBody">{{ post.body|safe }}</p>
                </div>
                <div class="d-md-none col-12 mb-3">
                    <button class="btn btn-outline-info btn-sm w-100" id="togglePostComments">Show Comments</button>
                </div>
            </div>
        </div>
        <!-- ! COMMENTS -->
        <div class="col-12 col-md-5 mt-3 mt-md-0 d-md-block d-none" id="postComments">
            <div class="commentsBody">
                <h2 id="commentCount">{{ post.count_all_comments }} comments</h2>
                <div id="allComments">
                    {% for comment in comments %}
                    <div class="row m-2 comment" id="detailBlogComment-{{ comment.id }}">
                        <div class="col-md-8 text-start py-2 px-4">
                            <a href="{% url 'account:profile' comment.author.id %}">{{ comment.author }}</a>
                            says:
                        </div>
                        <div class="col-md-4 text-end py-2 px-4" id="commentBlog-{{ comment.id }}">
                            {% if request.user.is_authenticated %}
                            {% include './snippets/commentLikes.html' %}
                            {% endif %}
                            {% if request.user.is_superuser or request.user == comment.author %}
                            {% include './snippets/commentDelete.html' %}
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <p class="text-white text-start p-2" id="appCommBody">{{ comment.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% include './snippets/postComment.html' %}
        </div>
    </div>
</div>
<script src="{% static 'scripts/post.js' %}"></script>
{% endblock %}