{% extends 'main/base.html' %}
{% load static %}

<head>
    <title>{% block title %}{{ currUser.username }}'s profile{% endblock %}</title>
</head>
{% block content %}
{% if request.user == currUser or request.user.is_superuser %}
<div class="container py-3 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-9">
            <ul class="nav nav-tabs unselectable" id="profileTab" role="tablist">
                <li class="nav-item ml-3 pr-1" role="presentation">
                    <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
                </li>
                <li class="nav-item pr-1" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button>
                </li>
                {% if request.user == currUser %}
                <li class="nav-item pr-1" role="presentation">
                    <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">Account</button>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-3 active unselectable" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    {% if posts %}
                    <div class="row text-center text-md-end px-3 justify-content-between align-items-center">
                        <div class="col-9 text-start d-none d-md-block">
                            <h3>Posts by {{ currUser }}</h3>
                        </div>
                        {% if request.user == currUser%}
                        <div class="col-12 col-md-3">
                            <a class="btn btn-outline-light btn-sm w-100" href="{% url 'blog:create' %}">
                                <i class="fa-solid fa-mug-hot"></i>&nbsp;&nbsp;Make New Post
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <script>let postStates = {}, posts = {}, getState = "False", pubState, postsPubTexts = {};</script>
                    <div id="singlePost">
                        {% for post in posts %}
                        {% include './snippets/account_post.html' %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <h3 class="text-center">{{ currUser }},
                        {% if request.user == currUser %}you have no posts.</h3>
                    <a class="btn btn-outline-light btn-sm mt-3 mb-1" href="{% url 'blog:create' %}">
                        <i class="fa-solid fa-mug-hot"></i>&nbsp;&nbsp;Make New Post
                    </a>
                    {% else %}
                    has no posts yet.
                    {% endif %}
                    </h3>
                    {% endif %}
                </div>



                <div class="tab-pane p-3" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <div class="col-12 mb-4 unselectable" id="accountEditProfile">
                        <div class="card-body p-3 p-md-4">
                            <h4 class="mb-2 pb-md-0 mb-md-5 text-center">Update Account</h3>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 col-md-4 my-3">
                                            <div class="form-outline">
                                                <label for="first_name" class="text-muted px-1">First name</label>
                                                <input type="text" name="first_name" class="form-control" id="fname" value="{{ account_form.initial.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 my-3">
                                            <div class="form-outline">
                                                <label for="last_name" class="text-muted px-1">Last name</label>
                                                <input type="text" name="last_name" class="form-control" value="{{ account_form.initial.last_name }}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 my-3">
                                            <div class="form-outline">
                                                <label for="username" class="text-muted px-1">Username</label>
                                                <input type="text" name="username" class="form-control" value="{{ account_form.initial.username }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-8 my-3">
                                            <div class="form-outline">
                                                <label for="email" class="text-muted px-1">Electronic mail</label>
                                                <input type="email" name="email" class="form-control" value="{{ account_form.initial.email }}">
                                            </div>
                                        </div>
                                        {% include './snippets/userPermissions.html' %}
                                    </div>
                                    <div class="row">
                                        <div class="col-12 my-2 {% if request.user == currUser %}col-md-4{% else %}col-md-6{% endif %}">
                                            <button type="button" class="btn btn-outline-warning w-100" id="editProfile">Edit profile</button>
                                        </div>
                                        <div class="col-12 my-2 {% if request.user == currUser %}col-md-4{% else %}col-md-6{% endif %}">
                                            <button type="submit" class="btn btn-outline-success w-100" id="saveChanges">Save changes</button>
                                        </div>
                                        {% if request.user == currUser %}
                                        <div class="col-12 col-md-4 my-2">
                                            <a class="btn btn-outline-secondary w-100" href="{% url 'account:password_change' %}">Change password</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-2 text-center py-2 sucess">
                                        {% if success_message %}{{ success_message }}{% endif %}
                                    </div>
                                    <div class="col-md-12 mb-1 text-center py-2 errors">
                                        {% for field in account_form %}
                                        {% for error in field.errors %}<p>{{error}}</p>{% endfor %}
                                        {% endfor %}
                                        {% if account_form.non_field_errors %}<p>{{ account_form.non_field_errors }}</p>{% endif %}
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane unselectable" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                    {% include './snippets/comments.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include './snippets/anonymous_otheruser.html' %}
{% endif %}
<script src="{% static 'scripts/account.js' %}"></script>
{% endblock content %}