<div class="row">
    <div class="col-md-12 text-center p-2">
        <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Supernatural/" role="button"><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/cw_supernatural/" role="button"><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/cw_spn" role="button"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center mx-auto p-2 project">
        <p>Project made for
            <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/preddiplomski-strucni-studiji#racunarstvo#SR501-17" target="_blank">Web Development</a>
            class.
        </p>
    </div>
</div>
<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    &#169; 2021 Copyright: Hrvoje Škrbina <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://github.com/574515" role="button"><i class="fa-brands fa-github"></i></a>
</div>