<div class="row">
    <div class="col-md-6 text-center mx-auto p-2">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-facebook"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-gitlab"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center mx-auto p-2 project">
        <p>Project made for
            <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/preddiplomski-strucni-studiji#racunarstvo#SR501-17" target="_blank">Web Development</a>
            class.
        </p>
    </div>
</div>
<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Copyright: Hrvoje Škrbina</div>