{% extends 'main/base.html' %}
{% block content %}
<div class="col-lg-3 d-none d-lg-block">
    {% include './snippets/profile_card.html' %}
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'index' %}",
            type: "POST",
            data: {
                'value': $("#sortBy option:selected").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            cache: false,
            dataType: "json",
            success: function (data) {
                var num_of_posts = data[data.length - 2];
                var post = jQuery.parseJSON(data);
                if (num_of_posts == 0) {
                    $("#allIndexPosts").html(
                        "<div class=\"col-md-12 my-3 p-3\">" +
                        "<h3>There is currently no published posts...</h3>" +
                        "</div>");
                } else {
                    for (i = 0; i < num_of_posts; i++) {
                        $("#allIndexPosts").append(
                            "<div class=\"col-12 px-3 py-2 my-2 postOverview postOverviewPub\">" +
                            "<div class=\"col-12 text-center p-2\">" +
                            "<h2>" + post[i]['title'] + "</h2>" +
                            "<div class=\"row\">" +
                            "<div class=\"col-12 col-md-6\">" +
                            "<img src=\"/media/" + post[i]['image'] + "\" alt=\"\" id=\"postImage\" class=\"mx-auto img-fluid rounded\">" +
                            "</div>" +
                            "<div class=\"col-12 my-2 my-md-0 col-md-6 text-start\">" +
                            "<p class=\"p-2\" id=\"blogPostBody\">" + post[i]['description'] + "</p>" +
                            "<p class=\"text-muted\">Posted by " +
                            "<a href=\"/profile/" + post[i]['author_id'] + "\">" + post[i]['author'] + "</a>.<br>" +
                            "Posted on " + post[i]['pub_date'] + "." +
                            "</p>" +
                            "</div>" +
                            "</div>" +
                            "<div class=\"row col-12 col-md-6 align-items-center\">" +
                            "<div class=\"col-12 col-md-7 text-center ps-4 ps-md-3 py-2 my-2\">" +
                            "<button class=\"btn btn-outline-danger btn-sm disabled\">" +
                            "<i class=\"fa-solid fa-heart\"></i>&nbsp;&nbsp; " + post[i]['likes'] +
                            "</button>&nbsp;" +
                            "<button class=\"btn btn-outline-info btn-sm disabled\">" +
                            "<i class=\"fa-solid fa-comments\"></i>&nbsp;&nbsp; " + post[i]['comments'] +
                            "</button>" +
                            "</div>" +
                            "<div class=\"col-12 col-md-5 text-center ps-4 ps-md-3 py-2 my-2\">" +
                            "<a href=\"/blog/" + post[i]['slug'] + "\" class=\" w-100 btn btn-outline-info btn-sm\">" +
                            "<i class=\"fa-solid fa-book-open\"></i>&nbsp;&nbsp;Read" +
                            "</a>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );
                    }
                }
            },
            fail: function () { },
            error: function (data) {
                console.log("ERROR");
            }
        });
    });
</script>
<div class="col-12 my-3 m-md-0 col-md-9 col-lg-6 unselectable p-4" id="mainPostsIndex" style="background-color: rgba(20, 20, 20, 0.6); border-radius: 25px;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <h2>Blog Posts</h2>
        </div>
        <div class="col-12 col-md-4 mx-auto mx-md-none" id="selectPosts">
            <select name="sortby" id="sortBy" class="p-1 w-100">
                <option class="sbopt" value="1" selected>Default</option>
                <option class="sbopt" value="2">Most comments</option>
                <option class="sbopt" value="3">Least comments</option>
                <option class="sbopt" value="4">Most likes</option>
                <option class="sbopt" value="5">Least likes</option>
            </select>
            <script>
                $("#sortBy").on("change", function () {
                    $.ajax({
                        url: "{% url 'index' %}",
                        type: "POST",
                        data: {
                            'value': $("#sortBy option:selected").val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        cache: false,
                        dataType: "json",
                        success: function (data) {
                            var num_of_posts = data[data.length - 2];
                            var post = jQuery.parseJSON(data);
                            if (num_of_posts == 0) {
                                $("#allIndexPosts").html(
                                    "<div class=\"col-md-12 my-3 p-3\">" +
                                    "<h3>There is currently no published posts...</h3>" +
                                    "</div>");
                            } else {
                                $("#allIndexPosts").html("");
                                for (i = 0; i < num_of_posts; i++) {
                                    $("#allIndexPosts").append(
                                        "<div class=\"col-12 px-3 py-2 my-2 postOverview postOverviewPub\">" +
                                        "<div class=\"col-12 text-center p-2\">" +
                                        "<h2>" + post[i]['title'] + "</h2>" +
                                        "<div class=\"row\">" +
                                        "<div class=\"col-12 col-md-6\">" +
                                        "<img src=\"/media/" + post[i]['image'] + "\" alt=\"\" id=\"postImage\" class=\"mx-auto img-fluid rounded\">" +
                                        "</div>" +
                                        "<div class=\"col-12 my-2 my-md-0 col-md-6 text-start\">" +
                                        "<p class=\"p-2\" id=\"blogPostBody\">" + post[i]['description'] + "</p>" +
                                        "<p class=\"text-muted\">Posted by " +
                                        "<a href=\"/profile/" + post[i]['author_id'] + "\">" + post[i]['author'] + "</a>.<br>" +
                                        "Posted on " + post[i]['pub_date'] + "." +
                                        "</p>" +
                                        "</div>" +
                                        "</div>" +
                                        "<div class=\"row col-12 col-md-6 align-items-center\">" +
                                        "<div class=\"col-12 col-md-7 text-center ps-4 ps-md-3 py-2 my-2\">" +
                                        "<button class=\"btn btn-outline-danger btn-sm disabled\">" +
                                        "<i class=\"fa-solid fa-heart\"></i>&nbsp;&nbsp; " + post[i]['likes'] +
                                        "</button>&nbsp;" +
                                        "<button class=\"btn btn-outline-info btn-sm disabled\">" +
                                        "<i class=\"fa-solid fa-comments\"></i>&nbsp;&nbsp; " + post[i]['comments'] +
                                        "</button>" +
                                        "</div>" +
                                        "<div class=\"col-12 col-md-5 text-center ps-4 ps-md-3 py-2 my-2\">" +
                                        "<a href=\"/blog/" + post[i]['slug'] + "\" class=\" w-100 btn btn-outline-info btn-sm\">" +
                                        "<i class=\"fa-solid fa-book-open\"></i>&nbsp;&nbsp;Read" +
                                        "</a>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>"
                                    )
                                }
                            }
                        },
                        fail: function () { },
                        error: function (data) {
                            console.log("ERROR");
                        }
                    });
                });
            </script>
        </div>
        <div class="col-md-2" id="showTweets">
            <button class="btn btn-outline-success d-none d-md-block btn-sm w-100" id="showTweetsBtn">Show Tweets</button>
        </div>
    </div>
    <div class="row" id="allIndexPosts"></div>
</div>
<div class="d-none d-md-flex col-md-3 col-lg-3 col-sm-2 unselectable text-white" id="tweetDiv">
    {% include './snippets/tweets.html' %}
</div>
{% endblock %}